<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<!--        会自动调用工厂类的getobject方法-->
        <bean id="javabean" class="FactoryBean06.FactoryBean">
<!--                调用的是工厂类的setname方法-->
                <property name="name"  value="哈啊啊"/>
        </bean>

</beans>
